__pycache__/
*.pyc
*.pyo
.env
.venv/
venv/

data/processed/
models/checkpoints/
models/onnx/
models/registry/

notebooks/.ipynb_checkpoints/

*.pt
*.onnx
*.onnx.data

.mlflow/
mlruns/

.DS_Store
*.egg-info/
dist/
build/

tokenizer/
.kilo/
.pytest_cache/
.ruff_cache/